#signinArea {
	font-family: sans-serif;
	width: 320px;
	margin: auto;
	margin-top: 200px;
	text-align: center;
}

.showText {
	margin-bottom: 10px;
	width: 80px;
	display: inline-block;
}

body {
	background-color: #F9F9F7;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

.textInput {
	height: 20px;
	width: 200px;
	border-radius: 5px;
}

.signinButton {
	font-size: 9pt;
	color: white;
	background-color: #6cc644;
	border: 1px solid #5aad35;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
	cursor: pointer;
	border-radius: 3px;
	font-weight: 600;
	padding: 6px 30px;
	margin: 15px;
	line-height: 15px;
	background-image: -webkit-linear-gradient(#91dd70, #55ae2e);
}

.signinButton:active {
	background-color: #4b912c;
	border-color: #417e26;
	box-shadow: inset 0 2px 4px rgba(0,0,0,0.15);
	background-image: none;
}

.errorHint {
	color: red;
	font-size: 10pt;
	text-align: left;
	padding-left: 12px;
	margin: 0;
}

.error {
	color: #EF5344;
}

.detailDisplay {
	display: inline-block;
	color: #FC695A;
}

.signinButton.big {
	width: 205px;
}